.hero-unit
  %h1 Drop that Bixi
  %p Using the interwebz to find where you can get on, or drop off, a bixi

.btn-group{"data-toggle" => "buttons-radio"}
  .btn.btn-large "Large button"
  .btn.btn-large "Find nearby Bixi to ride"
  .btn.btn-large "Find nearby Space to park Bixi"

#map
