@media screen and (max-width: 480px){
  #logo {
    position: fixed;
    right: 15px;
    bottom: 5px;
    font-size: 1.5em;
  }
}

#logo {
  position:absolute;
  bottom:15px;
  right:15px;
  padding:0;
  margin:0;
  z-index: 100;
  font-family: 'Lobster', cursive;
  color: #FFA500;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#logo a:active, #logo :visited {
  color: #FFA500;
}

.leaflet-popup-tip {
  margin: -14px auto 0;
}

#buttons {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1000;

  .btn-group {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}

.leaflet-control-attribution {
  display: none;
}

#find-bixi, #drop-bixi {
  display: none;
}
