// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#logo {
  position:absolute;
  top:15px;
  right:15px;
  padding:0;
  margin:0;
  z-index: 100;
  font-family: 'Lobster', cursive;
  color: #FFA500;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.leaflet-popup-tip {
  margin: -14px auto 0;
}
